  <link rel="stylesheet" href="<?=$_DIR['admininc']['css']?>main.css" type="text/css">
  
<TABLE align="center" class="t_content_bg" cellSpacing=1 cellPadding=5 width="90%" border=0 bgcolor="#B7E6CC">
  <TBODY>
    <TR> 
      <TD colspan="2" bgcolor="#B7E6CC" class="text12"><strong>Personal Information:</strong></TD>
      <TD colspan="2" bgcolor="#B7E6CC" class="text12"><div align="right"><strong>User 
          ID : <font color="black"> 
          <?=$merchant_id?>
          </font> </strong></div></TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12" width="18%">Username:</TD>
      <TD colspan="3" bgcolor="#ffffff" class="text12"> <font color="black"><font color="black"> 
        <?=$txtUName?>
        </font></font> </TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12" width="18%">Merchant Name:</TD>
      <TD width="35%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$cmbTitle?>
        </font> <font color="black"> 
        <?=$txtFirst?>
        </font> <font color="black"> 
        <?=$txtLast?>
        </font> </TD>
      <TD bgcolor="#ffffff" class="text12">Email Address:</TD>
      <TD bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtEmail?>
        </font> </TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12">Date of Birth:</TD>
      <TD width="35%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$fdate?>
        </font> </TD>
      <TD bgcolor="#ffffff" class="text12" width="20%">Place of Birth:</TD>
      <TD width="27%" bgcolor="#ffffff" class="t_content_cell2_bg"> <font color="black"> 
        <?=$txtBirthPlace?>
        </font> </TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12" width="18%">SSN/Identity No:</TD>
      <TD width="35%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtSSN?>
        </font> </TD>
      <TD bgcolor="#ffffff" class="text12" width="20%">Type of ID:</TD>
      <TD width="27%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtTypeID?>
        </font> </TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12" width="18%">Issued/Expiry Date:</TD>
      <TD width="35%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtIssExpDate?>
        </font> </TD>
      <TD bgcolor="#ffffff" class="text12" width="20%">Issue of Authority:</TD>
      <TD width="27%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtIssAuth?>
        </font> </TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12" width="18%">Country of Issue:</TD>
      <TD width="35%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtIssCountry?>
        </font> </TD>
      <TD width="20%" bgcolor="#ffffff" class="text12">&nbsp;</TD>
      <TD width="27%" bgcolor="#ffffff" class="text12">&nbsp;</TD>
    </TR>
    <tr> 
      <td colspan="4" bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
    <TR> 
      <TD colspan="4" bgcolor="#B7E6CC" class="text12"><strong>Home Address:</strong></TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12" width="18%">Address:</TD>
      <TD colspan="3" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtHAddress?>
        </font><br> <font color="black"> 
        <?=$txtHAddress1?>
        </font> </TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12">Location:</TD>
      <TD colspan="3" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtHCity?>
        </font>,<font color="black"> 
        <?=$txtHState?>
        </font>,<font color="black"> 
        <?=$cmbCountry1?>
        </font> - <font color="black"> 
        <?=$txtHZip?>
        </font> </TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12" width="18%">Telephone No:</TD>
      <TD width="35%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtTelephone?>
        </font> </TD>
      <TD bgcolor="#ffffff" class="text12" width="20%">Mobile No:</TD>
      <TD width="27%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtHmob?>
        </font> </TD>
    </TR>
    <tr> 
      <td colspan="4" bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
    <TR> 
      <TD colspan="4" bgcolor="#B7E6CC" class="text12"><strong>Business Information:</strong></TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12" width="18%">Business Name:</TD>
      <TD width="35%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtBName?>
        </font> </TD>
      <TD bgcolor="#ffffff" class="text12" width="20%">Business Type:</TD>
      <TD width="27%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$cmbPosition?>
        </font> </TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12">&nbsp;</TD>
      <TD width="35%" bgcolor="#ffffff" class="text12">&nbsp;</TD>
      <TD bgcolor="#ffffff" class="text12" width="20%">Specify If Other:</TD>
      <TD width="27%" bgcolor="#ffffff" class="t_content_cell2_bg"> <font color="black"> 
        <?=$txtBOther?>
        </font> </TD>
    </TR>
    <tr> 
      <td colspan="4" bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
    <TR> 
      <TD colspan="4" bgcolor="#ffffff" class="text12"><strong>Business Address:</strong></TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12" width="18%">Address:</TD>
      <TD colspan="3" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtBAddress?>
        </font><br> <font color="black"> 
        <?=$txtBAddress1?>
        </font> </TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12">Location:</TD>
      <TD colspan="3" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtBCity?>
        </font>,<font color="black"> 
        <?=$txtBState?>
        </font>,<font color="black"> 
        <?=$cmbCountry1?>
        </font> - <font color="black"> 
        <?=$txtBZip?>
        </font> </TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12" width="18%">Telephone No:</TD>
      <TD width="35%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtBTelephone?>
        </font> </TD>
      <TD bgcolor="#ffffff" class="text12" width="20%">Fax No:</TD>
      <TD width="27%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtBFax?>
        </font> </TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12" width="18%">Website:</TD>
      <TD width="35%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtBWeb?>
        </font> </TD>
      <TD bgcolor="#ffffff" class="text12" width="20%">&nbsp;</TD>
      <TD width="27%" bgcolor="#ffffff" class="text12">&nbsp;</TD>
    </TR>
    <tr> 
      <td colspan="4" bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
    <TR> 
      <TD colspan="4" bgcolor="#B7E6CC" class="text12"><strong>Primary Bank Information:</strong></TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12" width="18%">Account Name:</TD>
      <TD width="35%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtACCName?>
        </font> </TD>
      <TD bgcolor="#ffffff" class="text12" width="20%">Account Number:</TD>
      <TD width="27%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtACCNo?>
        </font> </TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12">Account Type:</TD>
      <TD width="35%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$cmbAType?>
        </font> </TD>
      <TD bgcolor="#ffffff" class="text12" width="20%">Bank Name:</TD>
      <TD width="27%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtBankName?>
        </font> </TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12">Bank Rounting No/IBAN No:</TD>
      <TD width="35%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtBankRout?>
        </font> </TD>
      <TD bgcolor="#ffffff" class="text12" width="20%">Swift Code:</TD>
      <TD width="27%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtSwift?>
        </font> </TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12" width="18%">Other Code:</TD>
      <TD width="35%" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtBOtherCode?>
        </font> </TD>
      <TD bgcolor="#ffffff" class="text12" width="20%">&nbsp;</TD>
      <TD width="27%" bgcolor="#ffffff" class="text12">&nbsp;</TD>
    </TR>
    <tr> 
      <td colspan="4" bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
    <TR> 
      <TD colspan="4" bgcolor="#ffffff" class="text12"><strong>Bank Address:</strong></TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12" width="18%">Address:</TD>
      <TD colspan="3" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtBankAdd?>
        </font><br> <font color="black"> 
        <?=$txtBankAdd1?>
        </font> </TD>
    </TR>
    <TR> 
      <TD bgcolor="#ffffff" class="text12">Location:</TD>
      <TD colspan="3" bgcolor="#ffffff" class="text12"> <font color="black"> 
        <?=$txtBankCity?>
        </font>,<font color="black"> 
        <?=$txtBankState?>
        </font>,<font color="black"> 
        <?=$cmbCountry1?>
        </font> - <font color="black"> 
        <?=$txtBankZip?>
        </font> </TD>
    </TR>
    <tr> 
      <td colspan="4" bgcolor="#FFFFFF" align="center"><form><input type="button" value="Print Agent Information" onClick="window.print()"></form></td>
    </tr>
  </TBODY>
</TABLE>
